In [10]:

import pandas as pd
import matplotlib.pyplot as plot

from sklearn.linear_model import LinearRegression
#import sklearn
#print('The scikit-learn version is {}.'.format(sklearn.__version__))

import statsmodels.api as sm
import statsmodels.formula.api as smf

import numpy as np

%matplotlib inline

df = pd.DataFrame([[np.nan, 2, np.nan, 0],[3, 4, np.nan, 1],[np.nan, np.nan, np.nan, 5],[np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))

print(df.head())

print(df.dtypes)

print(df.isnull().values.sum())

print(df.isnull().sum())

imputed_data = df.fillna((df.mean()), inplace=False)

print(imputed_data.isnull().sum())

imputed_data[['C']] = imputed_data[['C']].fillna(0)

print(imputed_data.isnull().sum())

imputed_data.head()

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4
A    float64
B    float64
C    float64
D      int64
dtype: object
8
A    3
B    1
C    4
D    0
dtype: int64
A    0
B    0
C    4
D    0
dtype: int64
A    0
B    0
C    0
D    0
dtype: int64

     A    B    C  D
0  3.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  3.0  3.0  0.0  5
3  3.0  3.0  0.0  4

In [6]:
# Feature Extraction with Univariate Statistical Tests (Chi-squared for classification)
import pandas
import numpy
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# load data
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe = pandas.read_csv(url, names=names)
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
# feature extraction
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, Y)
# summarize scores
numpy.set_printoptions(precision=3)
fit.scores_
#features = fit.transform(X)
#fit.get_params()
# summarize selected features
# print(features[0:5,:])

array([ 111.52 , 1411.887,   17.605,   53.108, 2175.565,  127.669,
          5.393,  181.304])